.profile {
  margin: 0 auto;
  border: 1px solid black;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  align-items: center; /* Center children horizontally */
}

.img-wrapper {
  width: 100%;
  text-align: center; /* Center content horizontally within the wrapper */
}

.img-wrapper > img {
  border: 5px solid black; /* Example border */
  width: 80%; /* Adjust width of the image as needed */
  height: auto; /* Maintain aspect ratio */
}

.name {
  font-size: 29px;
  margin-top: 20px; /* Example margin to separate name from image */
  text-align: center; /* Center text horizontally */
}

.myself {
  font-family: monospace;
  font-size: 18px;
  text-align: center; /* Center text horizontally */
}

.skills {
  display: flex;
  gap: 10px;
  width: 70%;
}

.skills > div {
}
