.profile {
  margin: 0 auto;
  border: 5px solid black;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  min-width: 20%;
}

h4 {
  text-align: center;
  margin-top: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(53, 53, 53);
}

.img-wrapper {
  width: 100%;
  text-align: center;
  display: block;
}

.img-wrapper > img {
  width: 100%;
  height: auto;
}

.name {
  font-size: 29px;
  margin: 10px;
  text-align: center;
  font-family: monospace;
}

.myself {
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  margin: 10px;
}

.skills {
  display: flex;
  gap: 10px;
  width: 70%;
  flex-wrap: wrap;
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 20px;
}

/* .skills > div {
} */

.skill {
  padding: 3px;
  border-radius: 5px;
}
